<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card col-8 offset-2 border-dark mt-4">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" value="hod" routerLink="hod">HOD</mat-radio-button>
                    <mat-radio-button color="primary" value="staff" routerLink="staff">Staff</mat-radio-button>
                </mat-radio-group>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>